ALGORITHM_ID=
INSTANCE_ID=

ALGO_NAME=Test_PCAlgo
FILE_NAME=tst_pc.py
FILE_PATH=examples/tst_pc.py

API_KEY=
URL_API=https://{YOUR_ENVIRONMENT}.powerbot-trading.com/{YOUR_COMPANY}/{YOUR_EXCHANGE}/v2/api
URL_WEBSOCKET=wss://{YOUR_ENVIRONMENT}.powerbot-trading.com/{YOUR_COMPANY}/{YOUR_EXCHANGE}/v2/subscription

ALGO_LOG_LEVEL=INFO
ALGO_LOG_ECS=0
